<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something went wrong</title>
    <link rel="stylesheet" href="styles/error.css">
</head>

<body>
    <div class="container">
        <h1>
            <%= statuscode %>
        </h1>
        <h2>
            Something went wrong
        </h2>
        <p>
            Please try again later
        </p>
        <p>
            error: <%= message %>

        </p>
    </div>
</body>
<script>

</script>

</html>